@page "/"
@implements IDisposable
@inject MainService mainService
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
    Server Status: <span class="@status_class">@isOn</span>
</div>

<div class="container mt-2">
    <button class="btn btn-outline-primary" @onclick="SendWake">Send Wake</button>
</div>

@code {
    private string isOn = "Loading...";
    private string status_class = "text-info";
    System.Timers.Timer timer = new(TimeSpan.FromSeconds(2));

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            timer.Elapsed += async (o, args) =>
            {
                await UpdateStatus();
            };
            timer.Start();
        }

        StateHasChanged(); // IF NOT USED, your updated version of states will not get rendered
        await base.OnAfterRenderAsync(firstRender); // Not required, it just returns the `Task.CompletedTask;`
    }

    async Task UpdateStatus()
    {
        var status = await mainService.GetStatusAsync();
        isOn = status.IsOn ? "Online" : "Offline";
        status_class = status.IsOn ? "text-success" : "text-danger";
        await InvokeAsync(() => StateHasChanged());
    }

    async void SendWake()
    {
        await mainService.SendWake();
    }

    public void Dispose()
    {
        timer.Dispose();
    }
}